* {
    margin: 0;
}

/*Navbar Styling */
.top_nav {
    max-width: 95%;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.top_nav .top-right {
    margin-left: auto;
    display: flex;
}

.top-right a {
    margin-left: 15px;
}
/*Styling for the main content of HomePage*/
.main-con {
    margin: 20px auto;
    padding: 10px;
    max-width: 1000px;

    display: flex;
    gap: 100px;
    justify-content: space-around;
}

.main-left{
    flex: 1;
    justify-content: flex-start;
}

.main-left>h2{
    width: max-content;

}

.main-right{
    flex: 3;
    width: 100%;

}

.book-feed{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;

}


/* Books */
.books{
    background-color: rgba(63, 66, 70, 0.715);
    border-radius: 15px;
    width: 100%;
    padding: 20px;
}
.book-header{
    display: flex;
    justify-content: center;
    background-color: rgba(21, 22, 23, 0.723);
    border-radius: 15px;
    align-items: center;
}

.book-title{
    font-size: 2rem;
}

.book-description{
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

.user-detail{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}

.book-footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


/* SHOW BOOK PAGE */

.small-img{
    width: 50px;
}

.options{
    width: 100%;
    /* display: flex; */
    padding: 5%;
    padding-top: 10px;
}

.actions button, ul, li{
    width: 100%;
}

li{
    text-align: center;
    font-size: 1.5rem;
}



/* PROFILE PAGE */

.profile-img{
    width: 200px;
}

.profile-head{
    margin: 10px 10px 0px 10px;
    align-items: center;
    display: flex;
    padding: 5%;
    background-color: rgba(54, 58, 63, 0.667);
    border-radius: 15px;
    /* justify-content: space-between; */
    justify-content: center;
}

.head-details{
    display: flex;
    flex: 3;
    align-items: center;
    gap: 10px;
}

.favorites{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

