* {
    margin: 0;
}

/*Navbar Styling */
.top_nav {
    max-width: 95%;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.top_nav .top-right {
    margin-left: auto;
    display: flex;
}

.top-right a {
    margin-left: 15px;
}
/*Styling for the main content of HomePage*/
.main-con {
    margin: 20px auto;
    padding: 10px;
    max-width: 1000px;
}